.ant-select-selector{
  width:50px !important;
  height:25px !important;
    color: #E81C0E !important;
    border:1px solid #E81C0E !important;
    border-radius:40px !important;
    overflow-wrap: break-word !important;
    word-wrap: break-word;
    overflow: hidden;
  }

  .ant-select .ant-select-arrow{
    color:#E81C0E !important;
    margin-top:0;
    height:8px;
    margin-left:2px;
    font-size:6px !important;
    display:none;
  }

.ant-select-item-option:hover {
  color: #E81C0E !important;
  border:1px solid #E81C0E !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: #E81C0E !important;
  border:1px solid #E81C0E !important;
}

.ant-select-selection-item{
  font-size: 10px !important;
  font-weight:600 !important;
  line-height: 20px !important;
}

.single.ant-select-show-arrow .ant-select-selection-placeholder ,.ant-select-selection-item{
  padding-inline-end:0 !important;
}