table{
  border-radius:4px;
  font-family: sans-serif, Calibri, Gill Sans, Gill Sans MT,  Trebuchet MS;
  background-color: white;
}
table, th, td {
  border-collapse: collapse;
  font-size: 12px;
  table-layout:fixed;
  min-width:40px;
}

table th{
font-weight: 600;
height:51px;
background-color: #F4F4F4;
font-size:12px ;
font-weight: bold;
}

th ,td{
  width:36px;
  min-height:39px;
  padding: 5px;
  padding-right: 0px;
  overflow-wrap: break-word;
  text-align: center;
  align-self: center;
}

td{
  border-bottom: 1.5px solid #E6ECF0;
  font-size:11px;
}

.input-field{
width:36px;
height:26px;
text-align: center;
border-radius:7px;
font-size: 12px;
cursor: pointer;
padding:0;
}

.input-field:focus,

.input-field:active{
border:1px solid #dcdada;
background-color: #F4F4F4;
}

.category_label{
  font-weight:bold;
  width:60px
}

.total_label{
  background-color:#F0F5F8 ;
}

.last_row{
  background-color: #C2D5FE;
}

.legend{
  width:28px;
  height:4px;
  border-radius:2px;
}

.shallow{
  background-color: #27AF8D;
}

.deep{
  background-color: #494949;
}
.legend_container{
 display:flex;
 flex-direction: row;
 align-items: center;
 gap:10px;
 margin-left:auto;
 margin-right: 20px;
 font-size: 11px;
 font-weight: 500;
}

.guardrall-gap{
  width:2px;
  background-color: white;
  border-bottom: none;
}